.movie-list{
  display: flex;
}

.deck{
margin-top: 30px;
display: flex;
justify-content: space-around;
  
}

.app{
  display: flex; 
  flex-direction: column;
  background: url(imagefond2.jpg);
  min-height: 100vh;
}
.movie{
  height: 450px;
  margin-top: 10px;

}


.foot{
  font-size: 28px;
 
}

.minapp{
  margin-top: 20px;
  display: flex;
 background-color: rgb(86, 255, 71);
  align-items: center;
}
